/* Filters */
.filters {
  padding-bottom: 50px;
}
.filters__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
}
.filters__item {
  margin-right: 8px;
  margin-left: 0;
}
/* Filters */
