/*information*/
.information__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headline-color);
  margin-bottom: 50px;
}
.information__item {
  position: relative;
}
.information__image {
  display: block;
}
.information__label {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
}

.information__item:not(:last-child) {
  margin-right: 30px;
}
/*information*/
