.logo {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--hover-color);
}
.logo--nav-bar {
  margin-right: 93px;
}
.logo--nav-bar-span {
  color: var(--black-color);
}

.logo--footer-span {
  color: var(--white-color);
}
