/*Our team*/
.our-team {
  background-color: var(--background-color-2);
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-team__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headline-color);
  margin-bottom: 50px;
}

.our-team__item {
  background: var(--white-color);
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team__name {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--headline-color);

  margin-top: 30px;
}
.our-team__position {
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
  margin-bottom: 30px;
  margin-top: 10px;
  text-align: center;
}

.our-team__social {
  display: flex;
  margin-right: 30px;
  margin-left: 30px;
  align-items: center;
  justify-content: space-between;
}
.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50% 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__icon {
  fill: var(--paragraph-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon:hover {
  fill: var(--white-color);
}
.social__link:hover {
  background-color: var(--hover-color);
}
.social__link:hover > .social__icon {
  fill: var(--white-color);
}
/*Our team*/
